.time-slider {
    margin: 0 .6em .6em .6em;
    padding-top: 3em;
    cursor: pointer;
    position: relative;
}

.time-slider .slider .area {
    position: relative;
    border: 1px solid #707077;
    border-left: none;
    z-index: 2;
    height: .4em;
    top: -.3em;
    cursor: pointer;
    background: #707077;
}

.time-slider .slider .slice {
    background: #6c6;
    background: linear-gradient(to bottom, #6c6 0%, #1c1 100%);
    left: 0px;
    right: 0px;
    height: 0.4em;
    position: absolute;

    /* click events should happen only in the slider to get the correct coordinates */
    pointer-events: none;
}

.time-slider .slider .handle {
    position: absolute;
    width: .5em;
    height: .5em;
    border: 4px solid #707077;
    border-radius: .5em;
    background: #6c6;
    background: linear-gradient(to bottom, #6c6 0%, #1c1 100%);
    z-index: 3;
    top: -.25em;
    margin-right: -.5em;
    margin-bottom: -.6em;
    cursor: ew-resize;
}

.time-slider .slider .handle.from {
    margin-left: .6em;
}

.time-slider .slider .handle.until {

}



/* Axis */

.time-slider .axis {
    stroke-width: 2px;
}

.time-slider .axis path {
    stroke-width: 0;
    fill: none;
}

.time-slider .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.time-slider .axis text {
    font-size: 11px;
}



/* Tooltips */

.time-slider .tooltips {

}

.time-slider .tooltips div {
    background: #fafafa;
    padding: .6em;
    position: absolute;
    top: 0;
    height: 0.3em;
    font-size: .8em;
    vertical-align: middle;
    line-height: 0.3em;
    border-radius: .2em;
    border: 1px solid #ddd;
}
